# Python / Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.venv/
env/

# Data & Secrets
.env
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE & OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large Analysis Exports
results/*.pdf
results/*.png
!results/.gitkeep
